@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@700&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 1.5rem 'Montserrat';
    text-align: center;
}


/* GENERAL */

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2,
h3, h4, a { font-family: 'Oswald'; }

h1, h2,
h3, h4 { line-height: 1; }

h1 {
    font-size: 2.5rem;
    color: #fff;
    margin: .7em 0;
}

h2 { margin-bottom: .7em; }

ul { list-style: none; }

p {
    margin-bottom: 1em;
    line-height: 1.6;
}

a { text-decoration: none; }

a:hover { text-decoration: underline; }

ul li { margin-top: 1em; }

img {
    display: block;
    max-width: 100%;
}

.text-36 { font-size: 2.25rem; }

.text-30 { font-size: 1.875rem; }

.text-21 { font-size: 1.3125rem; }

.text-18 { font-size: 1.125rem; }

.accent-color { color: #A59678; }

.accent-color-2 { color: #6f737f; }

.white-color { color: #fff; }


/* HEADER */

header {
    background: #3b4050;
    padding-bottom: 1em;
}

nav {
    background: #2e323f;
    padding: 1em 0;
}

.nav__link {
    color: #e0e0e2;
    text-transform: uppercase;
    font-size: 1.125rem;
}

.nav-visible { display: none; }

.nav__list-secondary { margin-top: 2em; }

.nav__button {
    background: #a59678;
    color: #fff;
    padding: .2em .7em;
    border-radius: 50px;
}

.nav__button:hover {
    text-decoration: none;
    background: #3B4050;
}

.learn__btn {
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    background: #a59678;
    padding: .2em 1em;
    border-radius: 50px;
    margin: 1em 0;
}

.learn__btn:hover {
    text-decoration: none;
    background: #2E323F;
}

.primary__figure { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo { margin: 0 auto; }

.hero__content { padding-top: 1em; }


/* FEATURES */

.features {
    background: #f1f1f1;
    padding: 2em 0;
}

.feat-col + .feat-col { margin-top: 2.5em; }


/* CARD BLOCK */

.card {
    background: #3b4050;
    padding: 1em;
    margin-top: 2em;
}


/* DIFFICULTY */

.difficulty { padding: 2em 0 5em; }

.secondary__figure { margin: 2em 0; }


/* FOOTER */

footer {
    background: #3b4050;
    color: #e0e0e2;
    padding: 2em 0;
}

footer a { 
    font-family: 'Montserrat'; 
    color: #e0e0e2;
}

footer h3 { margin-bottom: 2.5em; }

footer h4 { margin-bottom: .7em; }

.f-col { margin-top: 3em; }